.about-box {
  background-color: #65609e;
  font-family: "Fira Sans Condensed", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  color: #F5F7F8;
  border: 3px solid black;
  padding: 20px;
  border-radius: 10%;
  width: 100%;
  min-width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;

  a{
    margin-bottom: 3%;
    font-size: 30px;
    margin-top: 2%;
  }

}

.links{
  a{
    display: inline;
    margin: 10px;
    text-decoration: none;
    color: white;
  }
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 30%;
  border: solid;
  border-color: #A6AEBF;
  object-fit: cover;
  display: block;
  margin-top: 6%;
  z-index: 4;
}
