.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 1300px;
}


.little-name {
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: "Fira Sans Condensed", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 30px;
  background-color: #A6AEBF;
  width: 150px;
  height: 50px;
  border: solid;
}

.vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 140px;
  background-color: #C9CCD5;
  margin-bottom: 3px;
  border: solid;
  width: 150px;
  height: 150px;
}

.reithan-title {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}
