.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 1500px;
}

.vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 200px;
  background-color: #C9CCD5;
  margin-bottom: 3px;
  border: solid;
}

.reithan-title {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.about-box {
  background-color: #C9CCD5;
  font-family: "Fira Sans Condensed", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  border: solid;
  border-color: antiquewhite;
  padding: 20px;
  border-radius: 10%;
  width: 100%;
  min-width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;

  i{
    margin-bottom: 3%;
    font-size: 30px;
    margin-top: 2%;
  }

}

.links{
  p{
    display: inline;
    margin: 10px;
  }
}

.photo {
  width: 200px;
  height: 300px;
  border-radius: 30%;
  border: solid;
  border-color: #A6AEBF;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  z-index: 4;
}


.card-hello {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  height: 300px;
  width: 100%;
  max-width: 500px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  margin-top: 5%;
  margin-bottom: 5%;
}

.card-hello img {
  width: 100%;
  object-fit: cover;
  object-position: 100% 520%;
  border-radius: 16px 16px 0 0;
  height: 30%;
  transition: height 1s ease;
}

.card-hello-info {
  overflow: hidden;
  padding: 16px;
}

.card-hello-info h2 {
  margin: 16px 0;
}

@media (min-width: 1100px) {
  .card-hello img:hover {
    height: 70%;
  }
}

.card-hello img.tapped {
  height: 70%;
}
